<mat-toolbar color="primary">
    <span class="title-center">Sektor</span>
</mat-toolbar>
<div class="container mat-elavation-z8">
    <mat-form-field class="search-field" [appearance]="'fill'">
        <input matInput placeholder="Pretraga" (keyup)="applyFilter($event)" />
    </mat-form-field>
    <mat-table #table [dataSource]="dataSource" class="mat-cell" matSort>
        <!--ID-->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
        </ng-container>
        <!--Naziv-->
        <ng-container matColumnDef="naziv">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Naziv</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.naziv }}</mat-cell>
        </ng-container>
        <!-- opis -->
        <ng-container matColumnDef="oznaka">
            <mat-header-cell *matHeaderCellDef>Oznaka</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.oznaka }}</mat-cell>
        </ng-container>

        <!--Preduzece-->
        <ng-container matColumnDef="preduzece">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Preduzeće</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.preduzece.naziv }}</mat-cell>
        </ng-container>
        <!-- Action Buttons -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <button (click)="openDialog(1)" mat-icon-button color="primary">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index">
                <button (click)="openDialog(2, row.id, row.naziv, row.oznaka, row.preduzece)" mat-icon-button
                    color="primary">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
                <button (click)="openDialog(3, row.id, row.naziv, row.oznaka, row.preduzece)" mat-icon-button
                    color="primary">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row style="cursor: pointer;" *matRowDef="let row; columns: displayedColumns" (click)="selectRow(row)">
        </mat-row>
        
    </mat-table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[3,5,10,20]">

    </mat-paginator>
</div>

<!-- Selector za radnika-->

<div class="container mat-elevation-z8">
    <app-radnik *ngIf="selectedSektor" [selectedSektor]=selectedSektor>
    </app-radnik>
</div>