<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje radnika</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija radnika: {{data.id}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje radnika: {{data.id}}</h3>
  
    <form class="mat-dialog-content"  #formControl="ngForm">
   
        
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="Broj licne karte" [(ngModel)]="data.brojLk" name="brojLk" [disabled]="flag == 3">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="Ime" [(ngModel)]="data.ime" name="ime" [disabled]="flag == 3">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="Prezime" [(ngModel)]="data.prezime" name="prezime" [disabled]="flag == 3">
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field>
          <mat-select [(ngModel)]="data.obrazovanje" placeholder="Obrazovanje" name="obrazovanje" [compareWith]="compare"
            [disabled]="flag == 3">
            <mat-option *ngFor="let obrazovanje of obrazovanja" [value]="obrazovanje">
              {{ obrazovanje.naziv }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div mat-dialog-actions>
        <button mat-button *ngIf="flag == 1" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="add()">Sačuvaj</button>
        <button mat-button *ngIf="flag == 2"  [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="update()">Sačuvaj</button>
        <button mat-button *ngIf="flag == 3"  [mat-dialog-close]="1" (click)="delete()">Obriši</button>
        <button mat-button (click)="cancel()" tabindex="-1">Poništi</button>
      </div>
    </form>
  </div>
