<mat-toolbar class="toolbarNew" color="primary">
    <span class="title-center">Radnik</span>
</mat-toolbar>
<div class="container mat-elevation-z8">
    <mat-form-field class="search-field" [appearance]="'fill'">
        <input matInput placeholder="Pretraga" (keyup)="applyFilter($event)" />
      </mat-form-field>
    <mat-table #table matSort [dataSource]="dataSource" class="mat-cell" matSort>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="brojLk">
            <mat-header-cell *matHeaderCellDef>Broj licne karte</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.brojLk }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="ime">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Ime</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.ime }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="prezime">
            <mat-header-cell *matHeaderCellDef>Prezime</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.prezime }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="obrazovanje">
            <mat-header-cell *matHeaderCellDef>Obrazovanje</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.obrazovanje.naziv }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="sektor">
            <mat-header-cell *matHeaderCellDef>Sektor</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.sektor.naziv }}</mat-cell>
        </ng-container>
        <!-- actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="openDialog(1)">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let row; let i = index">
                <button mat-icon-button color="primary" (click)="openDialog(2, row.id, 
           row.brojLk, row.ime, row.prezime,row.obrazovanje, row.sektor)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>

                <button mat-icon-button color="primary" (click)="openDialog(3, row.id,
                row.brojLk, row.ime, row.prezime,row.obrazovanje, row.sektor)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row style="cursor: default" *matRowDef="let row; columns: displayedColumns">
        </mat-row>

    </mat-table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[3,5,10,20]">

    </mat-paginator>
</div>